# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Local Data and Storage
data/
storage/
spark-warehouse/
metastore_db/
derby.log

# Environment variables
.env

# Pytest / unit tests
.pytest_cache/
.coverage
htmlcov/

# Virtual Environments
venv/
.venv/
env/
ENV/

# IDE files
.idea/
.vscode/
*.swp
*.swo
