# Ignore interview preparation files
interview_guide.md

# Virtual environments
.env
venv/
.venv/
env/
__pycache__/
*.pyc
*.pkl
ml/*.pkl


# Local spark/delta lake data and cache
data/
jars/
storage/
spark-warehouse/
derby/
derby.log
metastore_db/

# Pytest / unit tests
.pytest_cache/
.coverage
htmlcov/

# MacOS
.DS_Store

# IDEs
.vscode/
.idea/
*.swp
*.swo
